<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Experienced Data Analytics Manager and Business Analyst with 8 years of detail-oriented expertise in data and system analysis. A fast learner with an international perspective, adept at self-teaching new tools and coding languages.</p>
      </div>
      <div class="col-lg-4">
        <p>Skilled in Business Intelligence, Data Visualization, and Dashboard creation using Power BI, Tableau, SQL, and Python. Proficient in managing and leading teams in both multinational and start-up environments. Strong abilities in data quality analysis, governance procedures implementation, and automating data processes for accurate and efficient reporting. Demonstrated expertise in modelling data from multiple systems and leveraging dashboarding tools for streamlined performance evaluation. Self-driven and adaptable, with a track record of developing innovative solutions that meet business needs while reducing costs. 
          Experienced in conducting training sessions to facilitate precise data entry and maximize dashboard utilization.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
